USE [master]
GO
/****** Object:  Database [TestOriontek]    Script Date: 8/2/2022 2:57:56 AM ******/
CREATE DATABASE [TestOriontek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestOriontek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestOriontek.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestOriontek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TestOriontek_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestOriontek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestOriontek]
GO
/****** Object:  Table [dbo].[Cliente_Direcciones_Trans]    Script Date: 8/2/2022 2:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Direcciones_Trans](
	[Cliente_Direccion_id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente_ID] [int] NOT NULL,
	[Cliente_Direccion] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Cliente_Direcciones_Trans] PRIMARY KEY CLUSTERED 
(
	[Cliente_Direccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes_Trans]    Script Date: 8/2/2022 2:57:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_Trans](
	[Cliente_id] [int] IDENTITY(1,1) NOT NULL,
	[Cliente_Nombre] [varchar](50) NOT NULL,
	[Cliente_Apellido] [varchar](50) NOT NULL,
	[Cliente_Telefono] [varchar](11) NOT NULL,
	[Cliente_Celular] [varchar](11) NULL,
	[Cliente_Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente_Direcciones_Trans]  WITH CHECK ADD FOREIGN KEY([Cliente_ID])
REFERENCES [dbo].[Clientes_Trans] ([Cliente_id])
GO
USE [master]
GO
